@import "common.css";
@import "header.css";
@import "footer.css";


/* banner section */
.our_location{
    background: var(--navy-blue);
}
.our_location .locatiuon_contant{
    color: var(--white);
    padding-top: 8rem;
    padding-bottom: 10rem;
}
.locatiuon_contant .location_footer h2,
.locatiuon_contant .locatiuon_header h2{
    display: inline-block;
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.6rem;
    color: var(--light-gold);
    border-bottom: 2px solid var(--light-gold);
}
.locatiuon_contant .locatiuon_header h2{
    margin-bottom: 3.7rem;
}
.locatiuon_contant .location_footer h2{
    margin-bottom: 2rem;

}
.locatiuon_header .header_contents h3{
    font-size: 2.4rem;
    line-height: 2.8rem;
    font-weight: 700;
    margin-bottom: 1rem;

}
.locatiuon_header .header_contents.second{
    padding-top: 3.7rem;
    padding-bottom: 4rem;
    
}
.locatiuon_contant .locatiuon_header p{
    padding-right: 17.4rem;
}
.locatiuon_contant .header_contents p:not(:last-child){
    margin-bottom: 9px;

}
.our_location .message_container{
    background: var(--white);
    text-align: center;
    margin:5rem 0;
    padding: 5.7rem 4.6rem 4rem;
}
.message_container h2{
    font-size: 4rem;
    font-weight: 700;
    display: inline-block;
    line-height: 4.7rem;
    border-bottom: 2px solid var(--navy-blue);
    margin-bottom: 6.6rem;
}
.message_container .input_content{
    margin-bottom: 1rem;
}
.input_content input, .input_content textarea {
    width: 100%;
    padding: 1.9rem;
    padding-left: 2rem;
    border: 1px solid var(--navy-blue);
}
.input_content textarea{
    height: 16.5rem;
}

.message_container .btn_box_wrapper{
    padding-top: 4.2rem;
}
.location_map .sc_title_wrapper{
    margin-bottom: 7.4rem;
}
.location_map_wrapper iframe {
    width: 100%;
    min-height: 65rem;
}

/* `xxxl` applies to xx-large devices (large desktops, less than 1680px) */
@media (max-width: 1679.98px) {}

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .locatiuon_contant .location_footer h2, .locatiuon_contant .locatiuon_header h2 {
        font-size: 3rem;
        line-height: 3.5rem;
    }
    .locatiuon_contant .locatiuon_header h2 {
        margin-bottom: 2.8rem;
    }
    .locatiuon_header .header_contents h3 {
        font-size: 1.8rem;
        line-height: 2.4rem;
        margin-bottom: .8rem;
    }
    .locatiuon_contant .locatiuon_header p {
        padding-right: 2rem;
        font-size: 1.2rem;
        line-height: 2.2rem;
    }
    .our_location .locatiuon_contant {
        padding-bottom: 2rem;
    }
    .message_container h2 {
        font-size: 3rem;
        line-height: 3.5rem;
        margin-bottom: 4.2rem;
    }
}
