@import "common.css";
/* @import "our-partners.css"; */
@import "header.css";
@import "footer.css";


/* corporate membership style */
.cmo_details{
    margin-bottom: 10rem;
}
.cmo_details .cmo_heading_text{
    padding: 8.6rem 0 ;
    width: 109rem;
    margin: 0 auto;
}
.cmo_details .cmo_heading_text h3{
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    line-height: 4.7rem;
    color: var(--navy-blue);
}
.cmo_details .cmo_image{
    width: 77.3rem;
    margin: 0 auto;
}

.cmo_details .cmo_image img{
    width: 100%;
}




.cmo_cote_text .comments_content .wl_blue_image{
    width: 50%;
    margin: 0 auto;
    padding-top: 3.2rem;
}

.cmo_cote_text .comments_content .wl_blue_image p{
    position: relative;
    padding-bottom: 1.5rem;
    width: 100%;
    font-size: 2.2rem;
    font-weight: 300;
    line-height: 3.5rem;
    color: var(--navy-blue);
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.cmo_cote_text .comments_content .wl_blue_image p::before{
    content: '';
    width: 2rem;
    height: 1.4rem;
    position: absolute;
    background: url(../images/icons/double-coute-top.svg) no-repeat;
    background-size: cover;
    margin-left: -2.5rem;
}
.cmo_cote_text .comments_content .wl_blue_image p::after{
    content: '';
    width: 2rem;
    height: 1.4rem;
    position: absolute;
    background: url(../images/icons/double-coute-bottom.svg) no-repeat;
    background-size: contain;
    bottom: 3.5rem;
    margin-left: .5rem;
}
.cmo_cote_text .comments_content .clint{
    margin-top: 2.5rem;
    font-size: 1.8rem;
    line-height: 2.1rem;
    font-weight: 400;
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--navy-blue);
}


.Professionals_comments{
    background: var(--navy-blue);
    color: var(--white);
    text-align: center;
}

.Professionals_comments .comments_content{
    /* width: 66%; */
    margin: 0 auto;
}
.Professionals_comments p{
    font-size: 1.8rem;
    line-height: 2.1rem;
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;
}
.Professionals_comments p span{
    display: block;
    text-align: start;
    line-height: 4.4rem;
}
.Professionals_comments .btn_box_wrapper{
    padding-bottom: 5rem;
}


.cmo_bottopm_text{

    margin-bottom: 10rem;
}
.cmo_bottopm_text .Professionals_comments p{
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 400;
    padding: 8.5rem 5rem ;
}


/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    .hero_banner .hero_title {
        font-size: 5rem;
        line-height: 5rem;
    }
    .cmo_details .cmo_heading_text h3 {
        font-size: 3rem;
        line-height: 4rem;
    }
    .cmo_bottopm_text .Professionals_comments p {
        font-size: 1.6rem;
        line-height: 2.8rem;
    }
}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .cmo_details .cmo_heading_text h3 {
        font-size: 2.5rem;
        line-height: 3.5rem;
    }
    .cmo_details {
        margin-bottom: 2rem;
    }
    .cmo_details .cmo_heading_text {
        padding: 5.6rem 0;
        width: 100%;
        margin: 0 auto;
    }
    .cmo_cote_text .comments_content .wl_blue_image {
        width: 100%;
        padding: 3rem;
    }
    .cmo_bottopm_text .Professionals_comments p {
        padding: 4.5rem 1rem;
    }
    
}