@import "common.css";
/* @import "our-partners.css"; */
@import "header.css";

@import "footer.css";


.white-btn{

    color: var(--white) ;
    font-size: 16px ;
    font-weight: 700 ;
    text-align: center;

}

.white-btn:hover{
    color: var(--white);
}


.yellow-btn,.purple-btn{
    color: var(--white);
    border-radius: 0;
    padding: 16px 30px;
    text-transform: uppercase;
}
.yellow-btn{
    background: var(--light-gold);
    border-color: var(--light-gold);

}
.yellow-btn:hover{
    color: var(--white);
}

.purple-btn{
    background: var(--navy-blue);
    border-color: var(--navy-blue);
}
.purple-btn:hover{
    color: var(--white);
}

.btn:focus{
    box-shadow: none;
}

/* internatioal section */
.international_text{
    padding-bottom: 7.2rem;
    text-align: center;
    margin-top: 5.4rem;
}
.international_text p{
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 5rem;
    position: relative;

    color: var(--navy-blue);
}

.international_content .international_image{
    max-width: 77.6rem;
    width: 100%;
    margin: 0 auto;
}
.international_content .international_image img{
    width: 100%;
}
.international_image h3{
    font-size: 2.2rem;
    line-height: 3.5rem;
    font-weight: 500;
    margin-top: 3.2rem;
    text-align: center;
    color: var(--navy-blue);
    position: relative;
}
.international_content .international_image span img{
    width: 100%;
    margin-top: -3rem;
}
/* internatioal section */

.how_you_join{
    background: var(--navy-blue);
    color: var(--white);
    text-align: center;
    margin-top: 12rem;
}
.how_you_join h2{
    padding-top: 5rem;
    padding-bottom: 2.8rem;
    font-size: 4.8rem;
    line-height: 5.6rem;
    font-weight: 700;
}
.how_you_join p{
    font-size: 1.8rem;
    line-height: 2.1rem;
    padding-bottom: 4.8rem;
}
.how_you_join .btn_box_wrapper{
    padding-bottom: 5rem;
}

/* internatioal section */
.Professionals_comments{
    background: var(--navy-blue);
    color: var(--white);
    text-align: center;
}
.Professionals_comments .comments_content{
    width: 66%;
    margin: 0 auto;
}
.Professionals_comments p{
    font-size: 1.8rem;
    line-height: 2.1rem;
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;
}
.Professionals_comments p span{
    display: block;
    text-align: end;
    line-height: 4.4rem;
}
.Professionals_comments .btn_box_wrapper{
    padding-bottom: 5rem;
}


.international_text p::before,
 .international_image h3::before{
     display: inline;
    content: '';
    width: 2rem;
    height: 1.4rem;
    position: absolute;
    background: url(../images/icons/double-coute-top.svg) no-repeat;

    background-size: cover;
    top: 0;
    /* margin-left: 4.5rem; */
    left: 5rem;
}
 .international_image h3::before{
    left: 8rem;
}
.Bangladeshi_Forum .international_image h3{
    font-size: 2.2rem;
    line-height: 3.5rem;
    font-weight: 500;
    text-align: center;
    max-width: 36.2rem;
    margin: 0 auto;
    color: var(--navy-blue);
    margin-bottom: 4.7rem;
    letter-spacing: -0.01em;
}
.Bangladeshi_Forum .international_image h3::before{
    left: -3rem;
    
}
 .international_text p::after,
 .international_image h3::after{
    content: '';
    width: 2rem;
    height: 1.4rem;
    position: absolute;
    background: url(../images/icons/double-coute-bottom.svg) no-repeat;

    background-size: cover;
    bottom: 2rem;
    margin-left: 1.5rem;
}


@media (max-width: 1199.98px) {
    .international_text p::before {
        left: 0.5rem;
        top: -0.5rem;
    }
    .international_text p::after{
        bottom: 3rem;
        margin-left: 0.5rem;
    }
}
@media(max-width: 991px){
    .international_text p::before {
        left: 4rem;
        top: -0.5rem;
    }
}

@media (max-width: 767.98px) {
    .hero_banner.young_professional .hero_title {
        font-size: 4.5rem;
        line-height: 5.8rem;
    }
    .international_text p {
        font-size: 2.2rem;
        line-height: 2.8rem;
    }
    .international_text {
        padding-bottom: 4.2rem;
        margin-top: 5.4rem;
    }
    .international_text p::before {
        left: -1.3rem;
        top: -0.5rem;
    }
    .international_image h3::before {
        left: 0.5rem;
        top: -0.5rem;
    }
    .international_text p::after, .international_image h3::after {
        bottom: 17px;
        margin-left: 0.3rem;
    }
    .Bangladeshi_Forum-body .international_image h3::after {
        bottom: 19px;
    }
    .Bangladeshi_Forum .international_image h3 {
        margin: 4rem auto;
    }
    .Bangladeshi_Forum .international_image h3::before {
        left: -20px;
    }
    .Professionals_comments .comments_content {
        width: 100%;
    }
}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .international_image h3 {
        font-size: 2rem;
        line-height: 3rem;
        margin-top: 3.2rem;
    
    }
    .how_you_join {
        margin-top: 5rem;
    }
    .how_you_join h2 {
        font-size: 3.8rem;
        line-height: 4.6rem;
    }
    .how_you_join p {
        padding-bottom: 2.8rem;
    }
    .international_text p::before {
        left: 3.5rem;
        top: -0.5rem;
    }
    .international_image h3::before {
        left: -1.5rem;
        top: -0.5rem;
    }
}

